.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(233, 231, 231);
}
.steel {
  background-color: #c9cdcf;
}
.psychic {
  background-color: #fae8cf;
}
.ground {
  background-color: #ad8c6a;
}
.dark {
  background-color: #676563;
}
.dragon {
  background-color: #afaa8a;
}
.ice {
  background-color: #8be7e5;
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #e1d8d8;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #fbe3df;
}
.grass {
  background-color: #d1eed0;
}
.water {
  background-color: #e0f1fd;
}
.fighting {
  background-color: #f3cbd0;
}

.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

.viewPokemonGrid {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.progressBar {
  width: 60%;
  border-radius: 2.5rem;
  background-color: whitesmoke;
}

.fillingBar {
  height: 100%;
  border-radius: 2.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .mobileStats {
    display: flex;
    flex-direction: column;
  }
  .progressBar {
    width: 100%;
  }
  .mobileEvolution {
    display: flex;
    flex-direction: column;
  }
}
a.MuiTypography-root.MuiTypography-h5.MuiTypography-noWrap.css-rd5w51-MuiTypography-root {
  color: #ffebee;
}
